@{
    ViewBag.Title = "Home Page";
}
<!--
<<<<<<< HEAD
=======
<script src="~/Scripts/geolocation.js"></script>
<script>getLocation()</script>

<!--Navbar 

<div class="navbar">
    <div class="navbar-logo col-sm-2">
        <div class="nav-circle">
            <img class="navbar-img" alt="logo" src="~/Content/images/icon.png" />
        </div>
    </div>

    <div class="navbar-container">
        <a href="~/Home">Home</a>
        <a href="~/Home/Registar">Register</a>
        <a onclick="document.getElementById('id01').style.display='block'">Login</a>

    </div>
</div>


>>>>>>> master
<!-- Main -->


<div class="home-banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="imageContainer image1">
                    <div class="banner-container col-md-12"></div>
                </div>
            </div>

            <div class="item">
                <div class="imageContainer image2">
                    <div class="banner-container col-md-12"></div>
                </div>
            </div>

            <div class="item">
                <div class="imageContainer image3">
                    <div class="banner-container col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner text -->

<form action="/Home/Search" method="post">
    <div class="col-md-12 home-text">
        <div class="banner-title-container">
            <p>Ambrosium </p>
            <div class="input-banner col-sm-offset-3 col-sm-6">
                <div class="input-group input-border">
                    <input id="org" name="origin" type="hidden" value="0,0"/>
                    <input id="transcript" name="search" type="text" class="text-recon" placeholder="O que vamos experimentar hoje?" required>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary submit-recon" type="submit" href="~/Home/Resultados">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary submit-recon" type="button" onclick="startDictation()">
                            <i class="fa fa-microphone" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- About -->


<div class="col-md-12 about">
    <div class="title-container">
        <p>Quem somos nós? </p>
    </div>
    <div class="about-content">
        <div class="col-sm-4">
            <img class="about-pic col-sm-offset-3" alt="Logo" src="~/Content/images/icon.png" />
        </div>
        <div class="about-container col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante magna, faucibus et erat eu, laoreet placerat mi. Vestibulum sed malesuada lacus. Praesent vel pretium purus. Fusce eget facilisis nibh. Integer risus nibh, iaculis ac vehicula at, venenatis eu tellus. Nunc egestas urna vitae purus tempus, dignissim fermentum enim interdum.
            </p>
        </div>
    </div>
</div>

<!-- Advantages -->


<div class="col-md-12 color2">
    <div class="title-container">
        <p>Vantagens </p>
    </div>

    <div class="advantages-container">
        <div class="col-md-4">
            <div class="advantages-circle circle1">
                <i class="fa fa-credit-card-alt fa-5x advantages-pic" aria-hidden="true"></i>
            </div>
            <div class=" col-md-12">
                <div class="advantages-title">
                    Gratis
                </div>
                <div class="advantages-text col-md-offset-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante magna, faucibus et erat eu, laoreet placerat mi. Vestibulum sed malesuada lacus. Praesent vel pretium purus. Fusce eget facilisis nibh.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="advantages-circle circle2">
                <i class="fa fa-fast-forward fa-5x advantages-pic" aria-hidden="true"></i>
            </div>
            <div class=" col-md-12">
                <div class="advantages-title">
                    Rapido
                </div>
                <div class="advantages-text col-md-offset-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante magna, faucibus et erat eu, laoreet placerat mi. Vestibulum sed malesuada lacus. Praesent vel pretium purus. Fusce eget facilisis nibh.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="advantages-circle circle3">
                <i class="fa fa-user-o fa-5x advantages-pic" aria-hidden="true"></i>
            </div>
            <div class=" col-md-12">
                <div class="advantages-title">
                    Facil de usar
                </div>
                <div class="advantages-text col-md-offset-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante magna, faucibus et erat eu, laoreet placerat mi. Vestibulum sed malesuada lacus. Praesent vel pretium purus. Fusce eget facilisis nibh.
                </div>
            </div>
        </div>
    </div>
</div>