
    @{
    ViewBag.Title = "Registar";
    }


    <!-- Main -->


    <div class="col-sm-12 login">
        <div class=" login-box col-sm-4 col-sm-offset-4">
            <div class="login-title">
                Register
            </div>

            <div class="login-field">
                <div class=" login-text col-sm-offset-2 col-sm-8">
                    Username
                </div>
                <div class="col-sm-offset-2 col-sm-8">
                    <input class="input-form" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="login-field">
                <div class="login-text col-sm-offset-2 col-sm-8">
                    Password
                </div>
                <div class="col-sm-offset-2 col-sm-8">
                    <input class="input-form" type="password" placeholder="Password" name="uname" required>
                </div>
            </div>
            <div class="login-field">
                <div class="login-text col-sm-offset-2 col-sm-8">
                    Confirm Password
                </div>
                <div class="col-sm-offset-2 col-sm-8">
                    <input class="input-form" type="password" placeholder="Password" name="uname" required>
                </div>
            </div>
            <div class="login-field">
                <div class="login-text col-sm-offset-2 col-sm-8">
                    Picture
                </div>
                <div class="col-sm-6">
                    <input type="button" class="submit-button" value="Choose File">
                </div>
            </div>


            <div class="col-sm-12">
                <input type="button" class="login-button" value="Login">
            </div>


        </div>
    </div>
