
    @{
    ViewBag.Title = "Registar";
    }


    <!-- Main -->


    <div class="col-sm-12 login color4">
        <div class=" login-box col-sm-4 col-sm-offset-4">
            <div class="login-title">
                Registar
            </div>

            <div class="login-field">
                <div class=" login-text col-sm-offset-2 col-sm-8">
                    Username
                </div>
                <div class="col-sm-offset-2 col-sm-8">
                    <input class="input-form color2" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="login-field">
                <div class="login-text col-sm-offset-2 col-sm-8">
                    Password
                </div>
                <div class="col-sm-offset-2 col-sm-8">
                    <input class="input-form color2" type="password" placeholder="Password" name="uname" required>
                </div>
            </div>
            <div class="login-field">
                <div class="login-text col-sm-offset-2 col-sm-8">
                    Confirm Password
                </div>
                <div class="col-sm-offset-2 col-sm-8">
                    <input class="input-form color2" type="password" placeholder="Password" name="uname" required>
                </div>
            </div>
            <div class="login-field">
                <div class="login-text col-sm-offset-2 col-sm-8">
                    Picture
                </div>
                <div class="col-sm-6">
                    <input type="file" id="picFile" class="submit-button" value="Choose File">
                </div>
            </div>


            <div class="col-sm-12">
                <input type="button" onclick="uploadFile()" class="login-button" value="Registar">
            </div>


        </div>
    </div>


<script>
function uploadFile() {
    var x = document.getElementById("picFile");
    x.disabled = true;
}
</script>