.product-title-container {
    margin-top: 100px;
    padding-left:100px;
    font-size: 30px;
    font-family: 'Oswald';
    margin-bottom: 30px;
}


.product-text-container {
    padding-left:100px;
    font-size: 20px;
    font-family: 'Oswald';
    margin-bottom: 30px;
}


.product-name-container {
    font-size: 20px;
    font-family: 'Oswald';
    margin-bottom: 30px;
}

.product-rating-container {
    font-size: 20px;
    font-family: 'Oswald';
    margin-bottom: 30px;
}

.product-desc-container{
    font-size:15px;
    margin-bottom:30px;
}

.product-icon{
    margin:10px;
}

textarea {
    min-width: 400px;
    max-width: 400px;
    min-height: 150px;
    max-height: 150px;
}