
@{
    ViewBag.Title = "EditarEstabelecimento";
}


<!-- Main -->


<div class="col-sm-12 login color4">
    <div class=" login-box col-sm-6">
        <div class="login-title">
            Editar restaurante
        </div>

        <div class="login-field">
            <div class=" login-text col-sm-offset-2 col-sm-8">
                Contacto
            </div>
            <div class="col-sm-offset-2 col-sm-8">
                <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
            </div>
        </div>
        <div class="login-field">
            <div class="login-text col-sm-offset-2 col-sm-8">
                Descrição
            </div>
            <div class="col-sm-offset-2 col-sm-8">
                <input class="input-form color1" type="text" placeholder="Password" name="uname" required>
            </div>
        </div>
        <div class="login-field">
            <div class="login-text col-sm-offset-2 col-sm-8">
                Imagem
            </div>
            <div class="col-sm-6">
                <input type="button" class="submit-button" value="Choose File">
            </div>
        </div>


        <div class="col-sm-12">
            <input type="button" class="login-button" value="Submeter">
        </div>


    </div>
    <div class=" login-box col-sm-6">
        <div class="login-title">
            Editar restaurante
        </div>

        <div class="login-field">
            <div class=" login-text col-sm-offset-2 col-sm-10">
                Username
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                    Monday: 
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                    Terça:
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                    Quarta:
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                    Quinta:
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                    Sexta:
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                   Sabado:
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                    Domingo:
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="col-sm-1">
                    to
                </div>
                <div class="col-sm-2">
                    <input class="input-form color1" type="text" placeholder="Username" name="uname" required>
                </div>
            </div>
        </div>
    </div>
