@model IEnumerable<Ambrosium.Models.Galeria>

@{
    ViewBag.Title = "Ambrosium | Galeria";
}



<!-- Main -->

	<div class="col-sm-12">
		<div class="col-sm-12 profile-title-container">
			Ambrosium
		</div>

	</div>

	<div class="col-md-12 profile-sections-container">
		<a href="~/Estabelecimentos/Details/@ViewBag.Estabelecimento.id">
			<div class="col-md-offset-2 col-md-2 profile-section">
				Restaurante
			</div>
		</a>
		<a href="~/Estabelecimentos/Menus/@ViewBag.Estabelecimento.id">
			<div class="col-md-offset-1 col-md-2 profile-section">
				Menus
			</div>
		</a>
		<a href="#">
			<div class="col-md-offset-1 col-md-2 profile-section">
				Galeria
			</div>
		</a>
	</div>


	<div class="col-md-12">
        <div class="col-sm-12">
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <img src="~/Content/images/1.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="~/Content/images/1.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="~/Content/images/1.jpg" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
            </script>

        </div>
	</div>


