<!-- Main -->

<div class="col-sm-12">
    <div class="col-sm-12 profile-title-container">
        Ambrosium
    </div>

</div>

<div class="col-md-12 profile-sections-container">
    <a href="~/Estabelecimentos">
        <div class="col-md-offset-2 col-md-2 profile-section">
            Restaurante
        </div>
    </a>
    <a href="~/Estabelecimentos/Menu">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Menus
        </div>
    </a>
    <a href="~/Estabelecimentos/Galeria">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Galeria
        </div>
    </a>
</div>


<div class="col-md-12">
    <div class="col-md-offset-1 col-sm-8 name-container">
        Taberna belga
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="col-md-12">
            <div class="col-sm-12 restaurant-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante magna, faucibus et erat eu, laoreet placerat mi. Vestibulum sed malesuada lacus. Praesent vel pretium purus. Fusce eget facilisis nibh. Integer risus nibh, iaculis ac vehicula at, venenatis eu tellus. Nunc egestas urna vitae purus tempus, dignissim fermentum enim interdum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante magna, faucibus et erat eu, laoreet placerat mi. Vestibulum sed malesuada lacus. Praesent vel pretium purus. Fusce eget facilisis nibh. Integer risus nibh, iaculis ac vehicula at, venenatis eu tellus.
            </div>
            <div class="col-sm-12">
                <input id="transcript" type="text" class="restaurant-critic" placeholder="Fale nos da sua experiencia" required>
            </div>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-4">
        <div class="rest-dist">
            Distancia : 21km;
        </div>
        <div class="rest-class">
            Rating:
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div>
            <img class="rest-map" src="~/Content/images/icon.png" />
        </div>
    </div>


</div>