<div class="navbar">
    <div class="navbar-logo col-sm-2">
        <div class="nav-circle">
            <img class="navbar-img" alt="logo" src="~/Content/images/icon.png" />
        </div>
    </div>

    <div class="navbar-container">
        <a href="~/Home">Home</a>
        <a href="~/Home/Registar">Register</a>
        <a onclick="document.getElementById('id01').style.display='block'">Login</a>

    </div>
</div>



<div class="col-md-12 sugetions-table-container">
    <div class="col-md-offset-1 col-md-3 col-xs-6">
        <div class="sugestions-table-title">
            Utilizador
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">User1</p>
            <p class="sugestions-table-element">User1</p>
            <p class="sugestions-table-element">User1</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="sugestions-table-title">
            Tipo
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">Produto</p>
            <p class="sugestions-table-element">Produto</p>
            <p class="sugestions-table-element">Estabelecimento</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="sugestions-table-title">
            Mais Informações
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">Cachorro</p>
            <p class="sugestions-table-element">Francesinha</p>
            <p class="sugestions-table-element">Taberna Belga</p>
        </div>
    </div>
    <div class="col-md-2 col-xs-6">
        <div class="sugestions-table-title">
            Go
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">
                <i class="fa fa-arrow-circle-right fa-1x" aria-hidden="true"></i>
            </p>
            <p class="sugestions-table-element">
                <i class="fa fa-arrow-circle-right fa-1x" aria-hidden="true"></i>
            </p>
            <p class="sugestions-table-element">
                <i class="fa fa-arrow-circle-right fa-1x" aria-hidden="true"></i>
            </p>
</div>
    </div>

</div>
