

<div class="col-sm-12">
    <div class="col-sm-12 product-title-container">
        Ambrosium
    </div>
    <div class="col-sm-12 product-text-container">
        Review
    </div>
    <div class="col-xs-12 profile-sections-container">
        <a href="~/Produtoes">
            <div class="col-md-offset-2 col-xs-2 profile-section">
                Produto
            </div>
        </a>
        <a href="~/Produtoes/Review">
            <div class="col-md-offset-1 col-xs-2 profile-section">
                Review
            </div>
        </a>
    </div>

    <div class="col-sm-12">
        <div style="margin-top:50px;" class="col-sm-12">
            <div class="col-sm-4">
                <div>
                    <img class="rest-map" src="~/Content/images/icon.png" />
                </div>
           </div>
            <div class="col-sm-8">
                <div class="col-md-12">
                    Adorei
                </div>
                <div class="col-md-12">
                    <div class="product-rating-container">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div>
                    <img class="rest-map" src="~/Content/images/icon.png" />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-md-12">
                    Mediocre.
                </div>
                <div class="col-md-12">
                    <div class="product-rating-container">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom:50px;" class="col-sm-12">
            <div class="col-sm-4">
                <div>
                    <img class="rest-map" src="~/Content/images/icon.png" />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-md-12">
                    Eu estava a procura de um pastel de nata e vim aqui enganado.....OBRIGADO AMBRUSIUM
                </div>
                <div class="col-md-12">
                    <div class="product-rating-container">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
