

<!-- Main -->

<div class="col-sm-12">
    <div class="col-sm-12 profile-title-container">
        Ambrosium
    </div>

</div>

<div class="col-md-12 profile-sections-container">
    <a href="~/Utilizadors">
        <div class="col-md-offset-2 col-md-2 profile-section">
            Perfil
        </div>
    </a>
    <a href="~/Utilizadors/Historico">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Historico
        </div>
    </a>
    <a href="~/Utilizadors/Estabelecimentos">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Establecimentos
        </div>
    </a>
</div>


	<div class="col-md-offset-2 col-md-8 estableciments">
		<div class="estableciments-title">
			<div class="col-sm-8">
				Restaurante Taberna Belga &emsp; &emsp; 
				<i class="fa fa-pencil" aria-hidden="true"></i> &emsp; 
				<i class="fa fa-user" aria-hidden="true"></i> &emsp;
			</div>
			<div class="col-sm-4 minor-text">
				<input class="col-sm-2" type="checkbox" name="preferences" value="Bike">
				Ignorar Sugestões
			</div>
		</div>
	</div>

	<div class="col-sm-offset-2 col-sm-2 request-estable">
			<button class="pic-updator">Requesitar establecimento</button>
	</div>


