

<!-- Main -->

<div class="col-sm-12">
    <div class="col-sm-12 profile-title-container">
        Ambrosium
    </div>

</div>

<div class="col-md-12 profile-sections-container">
    <a href="~/Utilizadors">
        <div class="col-md-offset-2 col-md-2 profile-section">
            Perfil
        </div>
    </a>
    <a href="~/Utilizadors/Historico">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Historico
        </div>
    </a>
    <a href="~/Utilizadors/Estabelecimentos">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Establecimentos
        </div>
    </a>
</div>

<div class="col-md-12 sugetions-table-container">
    <div class="col-xs-offset-1 col-xs-3 col-xs-6">
        <div class="sugestions-table-title">
            Produto
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">Prod1</p>
            <p class="sugestions-table-element">Prod2</p>
            <p class="sugestions-table-element">Prod3</p>
        </div>
    </div>
    <div class="col-xs-3 col-xs-6">
        <div class="sugestions-table-title">
            Estabelecimento
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">Estab1</p>
            <p class="sugestions-table-element">Estab2</p>
            <p class="sugestions-table-element">Estab3</p>
        </div>
    </div>
    <div class="col-xs-3 col-xs-6">
        <div class="sugestions-table-title">
            Rate
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">4.1</p>
            <p class="sugestions-table-element">4.2</p>
            <p class="sugestions-table-element">4.3</p>
        </div>
    </div>
    <div class="col-xs-2 col-xs-6">
        <div class="sugestions-table-title">
            Data
        </div>
        <div class="sugestions-table-content">
            <p class="sugestions-table-element">5/5/2017</p>
            <p class="sugestions-table-element">15/5/2017</p>
            <p class="sugestions-table-element">27/5/2017</p>
        </div>
    </div>

</div>




