<!--Navbar -->

<div class="navbar">
    <div class="navbar-logo col-sm-2">
        <div class="nav-circle">
            <img class="navbar-img" alt="logo" src="~/Content/images/icon.png" />
        </div>
    </div>

    <div class="navbar-container">
        <a href="../home/index.html">Home</a>
        <a href="#Register">Register</a>
        <a href="../login/index.html">Login</a>

    </div>
</div>


<!-- Main -->

<div class="col-sm-12">
    <div class="col-sm-12 profile-title-container">
        Ambrosium
    </div>

</div>

<div class="col-md-12 profile-sections-container">
    <a href="~/Utilizadors">
        <div class="col-md-offset-2 col-md-2 profile-section">
            Perfil
        </div>
    </a>
    <a href="~/Utilizadors/Historico">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Historico
        </div>
    </a>
    <a href="~/Utilizadors/Estabelecimentos">
        <div class="col-md-offset-1 col-md-2 profile-section">
            Establecimentos
        </div>
    </a>
</div>


	<div class="col-md-12 history">
		<b>
			<div class="history-title">
				<div class="col-md-3 col-md-offset-1">
					Produto
				</div>
				<div class="col-md-3">
					Establecimento
				</div>
				<div class="col-md-3">
					Avaliação
				</div>
				<div class="col-md-2">
					Data
				</div>
			</div>
		</b>

		<div class="history-entry">
			<div class="col-md-3 col-md-offset-1">
				Produto
			</div>
			<div class="col-md-3">
				Establecimento
			</div>
			<div class="col-md-3">
				Avaliação
			</div>
			<div class="col-md-2">
				Data
			</div>
		</div>



		<div class="history-entry">
			<div class="col-md-3 col-md-offset-1">
				Produto
			</div>
			<div class="col-md-3">
				Establecimento
			</div>
			<div class="col-md-3">
				Avaliação
			</div>
			<div class="col-md-2">
				Data
			</div>
		</div>



		<div class="history-entry">
			<div class="col-md-3 col-md-offset-1">
				Produto
			</div>
			<div class="col-md-3">
				Establecimento
			</div>
			<div class="col-md-3">
				Avaliação
			</div>
			<div class="col-md-2">
				Data
			</div>
		</div>
	</div>




