
<!-- Main -->

	<div class="col-sm-12">
		<div class="col-sm-12 profile-title-container">
			Ambrosium
		</div>

	</div>

	<div class="col-md-12 profile-sections-container">
		<a href="~/Utilizadors">
			<div class="col-md-offset-2 col-md-2 profile-section">
				Perfil
			</div>
		</a>
		<a href="~/Utilizadors/Historico">
			<div class="col-md-offset-1 col-md-2 profile-section">
				Historico
			</div>
		</a>
		<a href="~/Utilizadors/Estabelecimentos">
			<div class="col-md-offset-1 col-md-2 profile-section">
				Establecimentos
			</div>
		</a>
	</div>


	<div class="col-md-12">
		
		<div class="col-md-5 col-md-offset-1 profile-container">
			<div class="col-md-12">
				<div class="col-md-6">
				<div class="col-sm-12 name-container">
					Haskell Lover 38
				</div>
				Maximum distance: &emsp; <span style="font-size: 20px;" id="demo"></span> &emsp; km
				<input type="range" id="distance" min="0" max="100" value="25" step="1" />
				<button class="info-updator" onclick="slider()">Atualizar Distancia</button>
				</div>
				<div class="col-md-6">
					<img class="profile-pic" src="~/Content/images/icon.png"/>
					<button class="pic-updator">Inserir nova imagem</button>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<div class="col-sm-12 name-container">
					Preferencias:
					<div class="preferences-box">
					</div>
			</div>

					<div class="col-md-8">
						<div class="input-group input-preference">
							<input id="transcript" type="text" class="text-recon" placeholder="Adicionar restrição" required>
						    <span class="input-group-btn">
						    	<button class="btn btn-secondary submit-preference" type="submit" href="">
						    		<i class="fa fa-plus" aria-hidden="true"></i>
						    	</button>
						    </span>
						</div>
					</div>	
				
				
		</div>
	</div>

<script>

function slider() {
    var x = document.getElementById("distance").value;
    document.getElementById("demo").innerHTML = x;
}
</script>

