.estableciments{
	border-bottom: 1px solid black;
	margin-bottom: 100px;
}

.estableciments-title{
	font-size: 30px;
	margin-bottom: 20px;
}

.minor-text{
	font-size: 15px;
	margin-top: 10px;
}

.request-estable{
	margin-bottom: 50px;
}