.login{
	padding-top: 100px;
	background-color: #2A2A2A;
}

.login-box{
	min-height: 70%;
	border-radius: 10%;
	margin-bottom: 50px;
}

.login-title{
	font-size: 30px;
	margin-top: 20px;
	text-align: center;
	font-family: 'Oswald';
}


.login-field{
	font-size: 20px;
	margin: 20px;
	padding: 30px;
}


.login-text{
	margin-top:20px;
}

.input-form{
	margin-top: 10px;
	border-radius: 4px;
	border: none;
	padding: 5px;
	color: #333;
}

.login-button {
	margin-left: 35%;
	margin-top: 10px;
	margin-bottom: 50px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.submit-button {
	margin-left: 40%;
	margin-top: 10px;
	margin-bottom: 30px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    color: #333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}