body{
	font-family: 'Lato';
}


.color1{
	background-color: #333;
	color:#f2f2f2;
}

.color2{
	background-color: #2A2A2A;
	color:#f2f2f2;
}

.color3{
	background-color: #333;
	color: #fff;	
}

.color4{
	
}

.color5{
	
}