.navbar {
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 101%;
    margin-left: -1%;
    z-index: 1;
}


.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 20px;
    color: #f2f2f2;
}

.navbar a:hover{
    color:#737373;
}

.navbar-container{
    margin-right: 30px;
    margin-top: 10px;
}

.navbar-logo{
    height: 20px;
}

.nav-circle{
     background-color: #026AA7; 
     height: 80px; 
     border-radius: 50%;
     width: 80px; 
     margin-left: 50px; 
     margin-top: 15px;
}

.navbar-img{
    height: 50px; 
    margin-top:12px; 
    margin-left: 12px;
}

@media screen and (min-width: 1100px) {
    .nav-circle{
        margin-top: 25px;
    }
}